.vertical {
  padding-top: 10px;
}

.navbar {
  background-color: inherit;
  border: none;
}

header {
  background: url('images/back.png') no-repeat;
}

.jumbotron {
  background-color: inherit;
  color: #fff;
  text-align: center;
}

.btn-color {
  background: #e84545;
  margin-top: 50px;
  margin-bottom: 100px;
}

.features-block {
  text-align: center;
}

.glyphicon-features {
  margin-top: 100px;
  margin-bottom: 25px;
}

.features-p {
  margin-bottom: 120px;
}

.img-responsive {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #3a3e64;
  color: #fff;
  text-align: center;
}

.footer-h {
  display: inline-block;
  margin-top: 70px;
  margin-bottom: 20px;
}

.footer-block {
  padding-bottom: 50px;
}

.second-footer {
  background: #313454;
  color: #fff;
  text-align: center;
}
